html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#outer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#navbar {
    height: 66px;
    background-color: rgb(154, 221, 255);
    display: block;
    text-align: center;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    line-height: 1.2;
}
 
#navbar ul {
    width: auto;
    display: block;
    font-size: 0;
    text-align: center;
    color: #000000;
    background-color:  rgb(154, 221, 255);
    border: transparent;
    margin: 0; 
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 10;
    border-radius: 3px;
} 

#navbar li {
    display: inline-block;
    position: relative;    
    font-size: 0; 
    margin: 0;
    padding: 0;
}

#navbar ul>li>span, #navbar >ul>li>a {   
    font-size: 22px;
    color: inherit;
    text-decoration: none;
    padding: 20px 20px; 
    font-weight: 400;
    letter-spacing: 2px;   
    display: block;   
    position: relative;
    transition: all 0.3s;
}

#navbar li:hover>span, #navbar li:hover>a {  
    color:#FFFFFF;
    background-color:rgb(126, 166, 236);
}

#navbar .dropdown {
    text-align: left;
    left: 0;
    font-family: inherit;
    color:  #222222;
    background-color: #FFFFFF;
    border: none;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display: none;
    opacity: 0;
    cursor: default;
}

#navbar .dropdown li {
    display: block;  
}

#navbar .dropdown li > span, #navbar .dropdown li > a, form {
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    margin: 0;
    padding: 8px 20px; 
    display: block;
    color: inherit;
    text-decoration: none;
}

#navbar .sub-item {
    background-color: #FFFFFF;
    position: relative;       
    transition: all 0.3s;
}

#navbar .dropdown li:hover > span, #navbar .dropdown li:hover > a {
    color: #000000;
    background-color: #EEEEEE;
    cursor: pointer;
}

#navbar .dropdown.right0 {
    left: auto;
    right: 0;
} 

#navbar .dropdown li > .dropdown.right0 {
    left: auto;
    right: 100%;
} 
       
#navbar li.full-width {
    position: static;
}

#navbar li.full-width .dropdown {
    width: 100%;
    left: 0;
    box-sizing: border-box;
}  

#navbar li:hover > .dropdown {
    display: block;
    opacity: 1;
    z-index: 1;
}

#navbar .dropdown li > .dropdown {
    left: 100%; 
    right: auto;
    top: 0;
}

#navbar ul.dropdown {
    min-width: 240px; 
}

#navbar div.dropdown  {
    text-align: center;
}

/*-----------Arrows----------------*/
#navbar .arrow {
    color: inherit;
    border-style: solid; 
    border-width: 2px 2px 0 0; 
    padding: 5px; 
    transform: rotate(135deg);
    margin-top: -10px;
    margin-left: 5px;
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    overflow: hidden;
}
        
#navbar .dropdown .arrow {
    transform: rotate(45deg);
    top: 50%;
    margin-top: -7px;
    position: absolute;
    left: auto;
    right: 20px;
} 

/* Animation */
@keyframes topItemAnimation{
    from {opacity: 0;  transform:translate3d(-16%, 0, 0);}
    to {opacity: 1; transform:translate3d(0, 0, 0);}
}
#navbar li a {animation:none;}
#navbar.active li a { animation: topItemAnimation 0.5s ease 0.5s backwards;}
#navbar.active li:nth-of-type(1) a { animation: topItemAnimation 0.5s ease 0.08333333333333333s backwards;}
#navbar.active li:nth-of-type(2) a { animation: topItemAnimation 0.5s ease 0.16666666666666666s backwards;}
#navbar.active li:nth-of-type(3) a { animation: topItemAnimation 0.5s ease 0.25s backwards;}
#navbar.active li:nth-of-type(4) a { animation: topItemAnimation 0.5s ease 0.3333333333333333s backwards;}
#navbar.active li:nth-of-type(5) a { animation: topItemAnimation 0.5s ease 0.4166666666666667s backwards;}@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { #navbar.active li a{animation:none!important;}}

/* Slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #dfdfdf;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: rgb(255, 189, 136);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(255, 189, 136);
  cursor: pointer;
} 

/* Map */
#map-container {
    flex-grow: 1;
    background-color: rgb(238, 250, 255);

    display: flex;
    align-items: center;
    justify-content: center;
} 

#map {
    border: thin solid black;
    width: 90%;
    height: 85%;
}

.selected-destination {
    background-color: rgb(255, 189, 136);
}

.selected-destination:hover {
    background-color: rgb(255, 189, 136) !important;
}

form > #address {
    width: 300px;
}

.pac-container {
	position: absolute;
    z-index: 100;
    top: 30px !important;
}